<nav class="navbar navbar-light bg-light justify-content-between px-3">
  <a href="/restaurants" class="navbar-brand">restos</a>
  <a href="/restaurants/new" class="navbar-new-restaurant">Add New Restaurant</a>
</nav>
